
<div>	
	<div class = "col-md-10">
		<div class = "panel panel-default">
			<div class = "panel-heading">
				<!-- will check for errors when posting image (will come back to this) -->

				<%= simple_form_for @post, html: {multipart: true} do |f| %>
					<% if @post.errors.any? %>
						<div id = "error_explanation">
							<h2>
								<%= pluralize(@post.error.count, "error") %> prohibited this post from being saved:
							</h2>

							<ul>
								<% @post.errors.full_message.each do |msg| %>
								<li>
									<%= msg %>
								</li>
								<% end %>
							</ul>
						</div>
					<% end %>

				<!-- area for user input -->
					<div class = "form-group">
						<%= f.input :image,  {class: 'form-control'} %>
					</div>
					<div class = "form-group">
						<%= f.input :title,  {class: 'form-control'} %>
					</div>
					<div class = "field">
						<%= f.input :description, {class: 'form-control'} %>
					</div>

					<div class = "action">
						<%= f.submit "Submit" %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
</div>